---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import MediumPost from "@components/MediumPost";
import MainContainer from "src/components/MainContainer.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
import TextSlide from "@components/TextSlide.astro";
---
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

<Layout title="Reserve only if you're a GigaChad">
	<main>

		<MainCard />
		
		<!-- <div class="block lg:hidden 2xl:block overflow-auto no-scrollbar">
			<ContainerScroll>
				<MediumPost client:visible />
			</ContainerScroll>
		</div> -->
		
		<div>
			<MainContainer>
				<TextSlide />
			</MainContainer>
		</div>
	</main>
	</Layout>
